{% extends "base.html" %}
{% load edit_link %}

{% block title %}
    Edit data
{% endblock %}

{% block url_line %}
    {% if reverse %}
        <a href={% url edit_bio id %}>Normal order fields</a>
    {% else %}
        <a href={% url edit_bio_reverse id %}>Reverse fields</a>
    {% endif %}
        <a href="{% edit_link obj%}">Edit in admin</a>
{% endblock %}

{% block content %}
	<script type="text/javascript">

             function submitStart(formData, jqForm, options) {
                    $("#errors").hide();
                    setEnabledDisabled(true);
                    $("#sendwrapper").prepend('<span>Sending your bio, please wait... </span>')
                    return true;
                }

             function submitSuccess(responseText, statusText, xhr, form)  {
                    json_resp_obj = $.parseJSON(responseText);
                    setEnabledDisabled("")

                    $("#errors, #sendwrapper, #done").empty();

                    if (json_resp_obj.status == "done_status") {
                         $("#done").show();
                         $("#done").prepend("<p>Data saved done.</p>")
                    } else{
                    $("#errors").show();
                    if (json_resp_obj.errors.indexOf(',') == -1) {
                         $("#errors").prepend("<p>Error in field "+ json_resp_obj.errors +"</p>");
                    } else {
                         $("#errors").prepend("<p>Errors in fields "+ json_resp_obj.errors +"</p>");
                    }
                    }
                }

             function setEnabledDisabled(status){
                  $("#sendbutton, #id_last_name, #id_first_name, #id_contacts, #id_biography, #id_biography").attr('disabled', status);
             }

             $(function() {
                $("#id_birth_date").datepicker({ dateFormat: 'yy-mm-dd' });
                $("#editform").ajaxForm({
                    beforeSubmit:  submitStart,
                    success:       submitSuccess});
                return false;
             });


    </script>

    <form id="editform" action="" method="post">{% csrf_token %}
        {{ form.as_p }}
    <div id="sendwrapper"></div>
     <p><input id="sendbutton" type=submit value="Submit"></p>
    </form>

    <div id="errors">
                {% for error in form.errors %}
                    <p>{{ error }} not valid.</p>
                {% endfor %}
    </div>

    <div id="done"></div>

{% endblock %}

{% block url_main_page %}
     <p><a href={% url get-bio %}>To main page</a></p>
{% endblock %}