{% extends "base.html" %}
{% load edit_link %}

{% block title %}
    Edit data
{% endblock %}

{% block url_line %}
    {% if reverse %}
        <a href={% url edit_bio id %}>Normal order fields</a>
    {% else %}
        <a href={% url edit_bio_reverse id %}>Reverse fields</a>
    {% endif %}
        <a href="{% edit_link obj%}">Edit in admin</a>
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/admin/media/css/forms.css" />
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
    <p></p><input type=submit value="Submit"></p>
    </form>
{% endblock %}

{% block url_main_page %}
    <p><a href={% url get-bio %}>To main page</a></p>
{% endblock %}