{% extends "base.html" %}
{% load edit_link %}

{% block title %}
    Edit data
{% endblock %}

{% block url_line %}
    {% if reverse %}
        <a href={% url edit_bio id %}>Normal order fields</a>
    {% else %}
        <a href={% url edit_bio_reverse id %}>Reverse fields</a>
    {% endif %}
        <a href="{% edit_link obj%}">Edit in admin</a>
{% endblock %}

{% block content %}
	<script type="text/javascript" src="/static/js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.14.custom.min.js"></script>
	<script type="text/javascript">
         jQuery(function() {
               jQuery("#id_birth_date").datepicker({ dateFormat: 'yy-mm-dd' });
            });
    </script>
    <script type="text/javascript">
                var options = {
                    beforeSubmit:  showRequest,
                    success:       showResponse,
                    dataType:  'json' 
                };

                $('#sendbutton').click(function() {
                    $('#editform').ajaxSubmit(options);
                });

              function showRequest(formData, jqForm, options) {
                    $("#errors").hide();
                     jQuery("#sendbutton").attr('disabled', true)
                     jQuery("#id_last_name").attr('disabled', true)
                     jQuery("#id_first_name").attr('disabled', true)
                     jQuery("#id_contacts").attr('disabled', true)
                     jQuery("#id_biography").attr('disabled', true)
                     jQuery("#id_biography").attr('disabled', true)
                     jQuery("#sendwrapper").prepend('<span>Sending your bio, please wait... </span>')
                    return true;
                }

              function showResponse(response, statusText, xhr, $form)  {
                    if (response.status == 1) {
                        $("#errors").show();
                    }
                }
    </script>

    <form  id="editform" action="" method="POST">{% csrf_token %}
    <div id="ajaxwrapper">
        {{ form.as_p }}
     <p id="sendwrapper"></p>
     <p><input id="sendbutton" type=submit value="Submit"></p>
    </div>
        <div id="errors">
                {% for error in form.errors %}
                    <p>{{ error }} not valid.</p>
                {% endfor %}
        </div>
    </form>

{% endblock %}

{% block url_main_page %}
     <p><a href={% url get-bio %}>To main page</a></p>
{% endblock %}