{% extends "base.html" %}

{% block title%}
Http request page, first 10
{% endblock %}

{% block content %}
    <ol>
    {% for req in ten_last_req %}
        <li>Request <b>{{ req.http_request }}</b> from <b>{{ req.remote_addr }}
        </b> with priority <b>{{ req.priority }} </b> saved at <b>{{ req.datatime }}</b><a href={%url edit_http req.id %}> edit</a> </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block url_main_page %}
    <p><a href={% url get-bio %}>To main page</a></p>
{% endblock %}

