{% extends "base.html" %}

{% block title%}
My bio page
{% endblock %}

{% block url_line %}
   <a href={% url context-proc %}>Context processor page</a>
   <a href={% url req-list %}>Request list</a>
{% endblock %}

{% block content %}
    <div class="main">
      {% for bio_inst in my_bio %}
          <div class="fields">
            <p>First name: {{ bio_inst.first_name }}</p>
            <p>Last name:  {{ bio_inst.last_name }}</p>
            <p>Birth date: {{ bio_inst.birth_date }}</p>
            <p>Biography:  {{ bio_inst.biography }}</p>
            <p>Contacts:   {{ bio_inst.contacts }}</p>
          </div>
          <a href={% url edit_bio bio_inst.id %}>edit data</a>
      {% endfor %}
    </div>

{% endblock %}

