#urls {border-width:medium;
       border: #006400;
       border-style: solid;}

#urls_main {border-width:medium;
       border: #006400;
       border-style: solid;}

#contents {font-family: Geneva, Arial, Helvetica, sans-serif;
           font-size: 17px;
           text-align: left;
           border-width: medium;
           border-style: groove;
           border-color: #006400;}